---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import maned from "../assets/images/maned.png";
import roberta from "../assets/images/roberta.svg";
import hanzo from "../assets/images/hanzo.svg";
import osteria from "../assets/images/osteria.svg";
import ryger from "../assets/images/ryger.svg";
import sep from "../assets/images/sep.svg";
import fyn from "../assets/images/fyn.svg";
import petta from "../assets/images/petta.svg";
import pulp from "../assets/images/pulp.svg";
import hjemme from "../assets/images/hjemme.svg";
import feb from "../assets/images/feb.svg";
import mar from "../assets/images/mar.svg";
import apr from "../assets/images/apr.svg";
import maj from "../assets/images/maj.svg";

import Link from '../components/Link.astro';
---
<MainLayout title="FORSIDE" page="index">
	<article class="relative bg-farve-300">
		<h1 class="font-titan text-[60px] text-center pt-20 ">D. 15</h1>
		<div>
		<Image
          src={maned}
          alt="Billeder"
          class="absolute top-[80px]"
          loading="lazy"
        />
		</div>
		<h2 class="font-titan text-[30px] text-center pt-[400px] uppercase">VORES MÅNEDSDAG</h2>
				<p class="font-worksans uppercase px-8 pt-2 text-[18px]">Jeg har samlet vores månedsdage her ♡
 </p>



<section class="uppercase">


	<div class="px-6 pt-16">
<p class="font-bold">d. 15 maj 2024</p>
<p>Roberta, Biograf og dig der spurgte mig om kæretser. </p>
<Image
    src={roberta}
    alt="Billeder"
	class="pt-2"
    loading="lazy"
        />
</div>

	<div class="px-6 pt-16">
<p class="font-bold">d. 16 juni 2024</p>
<p>HANZO </p>
<Image
    src={hanzo}
    alt="Billeder"
	class="pt-2"
    loading="lazy"
        />
</div>

	<div class="px-6 pt-16">
<p class="font-bold">d. 16 juli 2024</p>
<p>OSTERIA 16 </p>
<Image
    src={osteria}
    alt="Billeder"
	class="pt-2"
    loading="lazy"
        />
</div>


	<div class="px-6 pt-16">
<p class="font-bold">d. 15 aug 2024</p>
<p>Pizza på rygeren. </p>
<Image
    src={ryger}
    alt="Billeder"
	class="pt-2"
    loading="lazy"
        />
</div>

	<div class="px-6 pt-16">
<p class="font-bold">d. 15 sep 2024</p>
<p>tømmermænd og wolt på sengen.</p>
<Image
    src={sep}
    alt="Billeder"
	class="pt-2"
    loading="lazy"
        />
</div>

	<div class="px-6 pt-16">
<p class="font-bold">d. 15 okt 2024</p>
<p>TUR til fyn</p>
<Image
    src={fyn}
    alt="Billeder"
	class="pt-2"
    loading="lazy"
        />
</div>


	<div class="px-6 pt-16">
<p class="font-bold">d. 15 nov 2024</p>
<p>SCARpetta - halvt år</p>
<Image
    src={petta}
    alt="Billeder"
	class="pt-2"
    loading="lazy"
        />
</div>

	<div class="px-6 pt-16">
<p class="font-bold">d. 15 dec 2024</p>
<p>PULP</p>
<Image
    src={pulp}
    alt="Billeder"
	class="pt-2"
    loading="lazy"
        />
</div>

	<div class="px-6 pt-16">
<p class="font-bold">d. 15 jan 2025</p>
<p>Hanzo hjemme på rygeren.</p>
<Image
    src={hjemme}
    alt="Billeder"
	class="pt-2"
    loading="lazy"
        />
</div>


	<div class="px-6 pt-16">
<p class="font-bold">d. 15 feb 2025</p>
<p>hygge med lukas, Olivia, A og A. </p>
<Image
    src={feb}
    alt="Billeder"
	class="pt-2"
    loading="lazy"
        />
</div>

	<div class="px-6 pt-16">
<p class="font-bold">d. 15 mar 2025</p>
<p>hygge på gavlen, sushi om aftnen. </p>
<Image
    src={mar}
    alt="Billeder"
	class="pt-2"
    loading="lazy"
        />
</div>

	<div class="px-6 pt-16">
<p class="font-bold">d. 15 apr 2025</p>
<p>Hjemmebiograf, pizza. Samt dessert og drink på bazaar. </p>
<Image
    src={apr}
    alt="Billeder"
	class="pt-2"
    loading="lazy"
        />
</div>

	<div class="px-6 pt-16">
<p class="font-bold">d. 15 maj 2025</p>
<p>biograf og god mad.  </p>
<Image
    src={maj}
    alt="Billeder"
	class="pt-2"
    loading="lazy"
        />
</div>

</section>

	
		<div class="bg-farve-100 text-farve-300 font-titan text-center text-[50px] mt-32">
			<h2>ELSKER DIG ♡</h2>
		</div>

	</article>
</MainLayout>