---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import os1 from "../assets/images/os1.svg";
import sms from "../assets/images/sms.svg";
import gavlen from "../assets/images/gavlen.svg";
import metro from "../assets/images/metro.svg";
import roberta from "../assets/images/roberta.svg";
import flue from "../assets/images/flue.svg";
import thai from "../assets/images/thai.png";
import kage from "../assets/images/kage.svg";
import scar from "../assets/images/scar.svg";
import milano from "../assets/images/milano.svg";
import jul from "../assets/images/jul.svg";
import valen from "../assets/images/valen.svg";
import aars from "../assets/images/aars.svg";


import Link from '../components/Link.astro';
---
<MainLayout title="FORSIDE" page="index">
	<article class="relative bg-farve-50">
    <div >
        <Image
    src={os1}
    alt="Billeder"
	class="absolute top-[100px] left-[40px]"
    loading="lazy"
        />
  	 </div>
  <h1 class="font-titan text-[60px] text-center pt-20">SARANUS</h1>
		<h2 class="font-titan text-[30px] text-center pt-[400px] uppercase">VOres historie</h2>
		<p class="font-worksans uppercase text-center px-8 pt-2 text-[18px]">Jeg har samlet vores historie 
det første år i hvert fald :)</p>	

<sektion class="font-worksans uppercase m-[10px]">
<div class="px-6 pt-16">
<p class="font-bold">d. 6 feb 2024</p>
<p>Du sendte en sms, og vi aftalte at mødes 
til en kaffe - d. 15/02.</p>
<Image
    src={sms}
    alt="Billeder"
	class="pt-2"
    loading="lazy"
        />
</div>

<div class="px-6 pt-16">
<p class="font-bold">d. 15 feb 2024</p>
<p>Vores først date - på gavlen. </p>
<Image
    src={gavlen}
    alt="Billeder"
	class="pt-2"
    loading="lazy"
        />
</div>

<div class="px-6 pt-16">
<p class="font-bold">d. 19 feb 2024</p>
<p>Vores anden date - Hjemme hos dig.
Risotto, vin og en masse snak! Vi snakker
ikke om glasset der blev tabt.  </p>

</div>

<div class="px-6 pt-16">
<p class="font-bold">d. 27 feb 2024</p>
<p>tredje date på jojo 
og første kys, på enghave metro.</p>
<Image
    src={metro}
    alt="Billeder"
	class="pt-2"
    loading="lazy"
        />
</div>

<div class="px-6 pt-16">
<p class="font-bold">en masse flere dates</p>
<p>datesne stoppede ikke der. Endnu 
flere hyggelige stunder og gode minder  første til...</p>

</div>

<div class="px-6 pt-16">
<p class="font-bold">d. 15 maj 2024</p>
<p>spurgte du mig om kærester. med alt 
planlagt spurgte ud mig præcis tre
måneder efter vores første date 
(fordi efter tre måneder kan en person ikke lyve mere)</p>
<Image
    src={roberta}
    alt="Billeder"
	class="pt-2"
    loading="lazy"
        />
</div>

<div class="px-6 pt-16">
<p class="font-bold">d. 1 Juni 2024</p>
<p>Første gang jeg skulle møde din 
familie. Og første gang på Fluebjerg 
gaard til fødselsdagsfest i haven.</p>
<Image
    src={flue}
    alt="Billeder"
	class="pt-2"
    loading="lazy"
        />
</div>

<div class="px-6 pt-16">
<p class="font-bold">d. 1 Juni 2024</p>
<p>Første gang vi sagde “Jeg elsker dig”
Til hinanden. </p>
<svg class="m-8" width="271" height="242" viewBox="0 0 271 242" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M41.2005 150.141C41.2005 152.606 41.5497 155.327 41.1734 157.773C40.8812 159.672 39.8061 161.181 39.0277 162.879C37.8593 165.428 37.0351 168.46 36.3117 171.163C34.2559 178.845 30.3399 186.139 29.087 194.032C28.4017 198.35 27.415 202.55 26.7784 206.879C26.2562 210.43 26.4554 214.803 25.4475 218.205C23.8557 223.577 24.7914 229.56 24.5784 235.099C24.5425 236.031 12.81 233.579 10.5093 232.872C8.11314 232.134 2.01135 231.854 1.60064 228.363C1.23123 225.223 -0.270902 223.052 3.5562 221.138C6.33491 219.749 9.79036 220.052 12.8451 220.052C15.2437 220.052 14.3117 217.324 14.3117 215.38C14.3117 211.271 14.9782 207.047 15.3981 202.941C15.9178 197.86 16.1047 192.069 18.1142 187.296C18.7739 185.73 18.9087 182.913 19.2278 181.158C19.6918 178.606 20.6278 176.085 21.2648 173.608C22.6183 168.344 23.8684 162.637 25.5561 157.474C28.0143 149.955 28.7885 142.127 30.3364 134.388C31.7841 127.149 34.2882 120.149 35.4425 112.877C36.5693 105.778 39.3353 98.6488 39.7339 91.4744C39.8312 89.7226 43.8072 83.3255 42.6672 82.1855" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M42.1783 82.1856C41.1484 72.917 34.678 64.74 34.3561 55.4054C34.2155 51.3285 32.6994 46.0511 34.1116 42.0968C35.2429 38.9292 37.276 36.9755 38.8647 34.2746C39.6142 33.0005 40.8869 32.1883 41.6894 30.961C42.7492 29.3401 44.4157 27.6372 45.8178 26.2351C48.347 23.7058 50.8192 19.7507 53.9116 18.0327C55.2703 17.2778 55.8701 15.5981 57.3338 14.8277C59.0984 13.899 61.0274 12.4921 62.44 11.0796C64.9447 8.57481 68.4739 7.27441 71.4029 5.43022C73.9229 3.84354 76.6202 2.4969 79.6053 2.4969C82.1815 2.4969 84.7279 1.51912 87.3461 1.51912C89.7015 1.51912 92.282 1.81324 94.5979 1.41048C102.933 -0.0391098 111.697 2.37593 117.576 8.25491C119.5 10.1793 121.419 11.7903 123.578 13.4697C126.009 15.3608 127.975 18.4046 130.667 19.9882C133.101 21.4203 135.107 24.0248 136.805 26.2079C138.417 28.2798 140.771 30.0388 141.911 32.319" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M141.911 31.83C141.911 24.1451 149.887 17.2073 155.6 12.7634C158.832 10.2501 163.747 8.4077 167.795 7.90166C173.473 7.19195 179.2 6.89673 184.933 6.89673C191.084 6.89673 196.828 10.1264 202.045 12.872C204.236 14.0254 205.693 16.2118 207.694 17.6523C210.293 19.5235 212.876 21.0043 214.783 23.5461C218.699 28.7682 222.603 33.7995 224.289 40.1682C225.257 43.826 226.633 47.2971 227.358 51.0053C228.173 55.1726 227.956 59.3788 227.956 63.6077C227.956 68.6041 225.511 73.4548 225.511 78.2743" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M225.511 76.8079C225.511 87.2532 225.095 97.6343 226.598 107.988C227.873 116.774 230.77 125.372 232.736 134.008C235.313 145.329 238.416 156.462 240.775 167.85C242.949 178.344 244.634 189.409 248.244 199.519C249.386 202.716 250.439 206.154 250.961 209.541C251.02 209.927 251.798 213.454 252.02 213.479C253.795 213.676 255.874 212.905 257.778 213.316C263.279 214.506 270 216.407 270 223.23C270 225.512 265.217 225.848 263.4 226.407C261.133 227.105 258.616 227.572 256.311 227.901C254.7 228.131 244.763 232.668 244.578 229.341C244.371 225.613 240.359 222.707 240.178 219.074C240.063 216.786 239.6 214.026 238.467 211.985C236.428 208.316 235.858 204.06 234.094 200.279C232.478 196.817 232.114 192.373 231.269 188.654C229.282 179.91 224.497 171.814 222.687 162.961C222.249 160.82 221.6 154.312 221.6 156.497C221.6 158.941 221.6 161.385 221.6 163.83C221.6 182.652 221.6 201.474 221.6 220.296C221.6 223.325 222.089 226.142 222.089 229.096C222.089 231.742 214.073 232.475 211.904 233.469C206.969 235.731 197.572 236.863 193.245 232.763C191.361 230.979 190.311 229.532 190.311 226.896C190.311 224.967 193.142 223.803 194.44 222.741C197.789 220.001 202.259 219.074 206.445 219.074" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M206.445 219.074C206.445 196.669 205.906 174.084 203.973 151.852C203.335 144.52 202.533 137.541 202.533 130.097C202.533 127.734 202.005 124.482 202.914 122.274C204.035 119.551 199.241 127.091 196.667 128.521C194.15 129.92 191.751 132.507 189.333 134.252C184.919 137.44 181.117 141.24 176.867 144.546C171.313 148.866 165.31 153.57 159.022 156.714C157.281 157.584 156.052 158.49 154.65 159.892C153.355 161.186 152.102 161.441 150.603 162.363C148.734 163.513 146.361 164.786 144.356 165.677C139.608 167.787 134.669 170.481 129.689 172.141" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M60.7561 114.452C64.0892 118.088 67.7158 122.224 70.5339 126.294C72.7819 129.541 76.1131 131.765 78.8721 134.524C81.5414 137.193 84.7918 141.157 88.1338 142.916C90.5536 144.19 93.3069 146.271 95.4671 147.968C103.124 153.984 111.254 159.927 120.292 163.83C123.627 165.27 125.165 166.095 127.489 168.936C128.816 170.558 131.237 171.516 133.111 172.141" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M41.2005 156.985C41.2005 167.862 39.8705 179.761 42.4499 190.447C44.6739 199.66 44.9121 209.497 47.5561 218.585C48.2575 220.996 48.2336 223.916 49.2672 226.19C50.0996 228.021 50.9758 230.336 51.4672 232.301C51.9079 234.064 52.9338 236.096 52.9338 237.896C52.9338 240.017 58.8334 239.944 60.2128 240.069C62.2599 240.255 64.1766 240.585 66.2424 240.585C68.2771 240.585 69.6818 239.322 71.5116 239.118C73.6851 238.877 78.356 236.64 78.356 234.23C78.356 228.842 66.4235 227.385 62.4671 227.385C58.7732 227.385 60.2672 219.882 60.2672 217.607C60.2672 212.539 59.9059 207.228 59.0449 202.235C57.7447 194.693 58.7713 186.84 57.4425 179.366C56.337 173.147 57.3371 166.533 55.9758 160.408C54.2253 152.53 54.8894 143.799 54.8894 135.719C54.8894 128.388 60.756 121.819 60.756 114.452" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M55.8672 80.2298C55.8672 76.8512 54.3813 73.7625 53.3141 70.5607C52.3923 67.7955 50.5353 64.7156 50.0277 61.9237C49.0847 56.7372 46.8013 50.115 50.0005 45.1385C51.7715 42.3836 52.5147 39.0935 54.8894 36.7188C57.0183 34.5898 59.3688 32.7283 61.4894 30.6077C63.9582 28.1389 66.4757 25.719 69.556 24.0077C72.6707 22.2774 76.652 19.0637 80.3115 18.6571C88.2551 17.7745 95.6983 16.4561 103.778 16.6744C112.384 16.907 120.232 21.2216 125.534 27.7016C129.794 32.909 132.855 40.3404 135.176 46.6052C136.153 49.2432 137.719 51.6391 138.761 54.3188C139.504 56.2307 140.934 58.1531 140.934 60.1854" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M142.4 60.6746C142.4 52.6718 144.013 46.6243 147.887 39.6525C148.382 38.7612 149.417 38.0417 150.114 37.3167C150.86 36.5406 150.91 35.4467 151.798 34.7636C153.858 33.1785 154.986 30.8713 157.176 29.3858C162.214 25.967 166.41 25.7383 172.222 24.8772C178.539 23.9414 183.662 24.8647 189.714 26.3439C199.173 28.6562 209.106 40.6099 209.378 50.408C209.658 60.4909 209.867 70.5938 209.867 80.719" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M209.867 80.7187C206.826 80.7187 203.537 77.2958 200.85 76.0743C198.262 74.8981 195.588 74.8521 192.756 74.8521C187.647 74.8521 182.489 83.4207 182.489 88.052C182.489 91.3685 182 94.6851 182 98.047C182 100.225 184.411 102.943 185.531 104.674C186.115 105.577 188.063 105.897 188.845 106.874C189.442 107.621 191.132 108.366 191.995 108.612C193.943 109.169 195.443 111.03 197.645 111.03" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M197.645 111.03C193.588 111.435 189.536 117.058 186.292 119.341C182.921 121.713 179.502 123.93 176.514 126.783C173.692 129.477 170.13 131.739 166.953 134.008C163.63 136.382 160.848 139.447 157.556 141.938C154.384 144.339 151.304 147.688 147.778 149.543C145.836 150.565 143.501 151.118 141.803 152.477C139.254 154.516 135.833 156.148 133.111 157.963" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M68.0894 102.719C70.4012 105.288 72.9318 108.502 74.8251 111.41C75.8123 112.926 77.326 114.051 78.356 115.538C80.6111 118.796 83.6997 121.262 86.477 124.04C92.0213 129.584 98.1769 136.096 105.245 139.63C111.348 142.682 117.071 146.996 123.442 149.272C125.391 149.968 134.738 157.883 133.6 158.452" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M56.1167 79.9638C57.1549 79.6178 57.8564 77.963 59.0857 77.524C60.4844 77.0244 61.7435 76.1786 63.2599 76.0101C65.9594 75.7101 68.5174 75.683 71.1968 75.9807C75.9201 76.5055 78.8995 81.795 80.3242 85.7842C81.5643 89.2563 80.8675 95.2534 77.8109 97.6308C77.0084 98.2549 76.1827 98.8718 75.4298 99.5562C74.6696 100.247 74.02 101.349 73.181 101.908C72.6376 102.27 71.8503 102.716 71.1968 102.716C70.513 102.716 68.4227 103.782 68.0221 102.981" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M142.1 60.3862C142.1 59.3879 142.216 60.8253 141.953 60.9006C141.184 61.1204 141.042 60.7774 141.042 60.1216" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M139.983 89.7525C139.983 87.3631 139.488 84.539 140.527 82.3301C141.655 79.9334 143.278 78.1306 145.407 76.6567C149.346 73.9294 154.755 73.5207 159.414 73.8934C162.164 74.1134 166.625 77.3001 167.439 79.9637C168.044 81.9424 168.556 83.3326 168.556 85.4607C168.556 88.1781 167.316 90.5374 166.44 93.0743C165.828 94.8436 164.681 96.7757 163.515 98.2333C161.642 100.575 160.209 103.173 158.503 105.612C156.487 108.491 154.349 111.403 152.124 114.122C150.472 116.141 148.469 117.783 146.847 119.81C146.252 120.554 141.087 128.099 139.454 126.262C136.948 123.443 134.373 120.717 131.576 118.12C128.508 115.271 126.19 111.606 123.051 108.816C121.275 107.237 120.133 105.085 118.818 103.113C117.286 100.815 115.859 98.4176 114.335 96.1315C112.041 92.6893 111.41 88.4841 111.41 84.4613C111.41 81.1098 112.49 77.077 116.173 76.054C121.99 74.4381 128.56 74.1373 132.723 79.4346C134.498 81.6939 136.295 83.4333 137.602 86.0487C138.39 87.6242 139.275 89.3518 140.248 90.8108" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M191.87 94.011C191.39 94.071 191.949 95.9682 192.764 95.1531C193.49 94.4268 191.87 93.7035 191.87 94.3825" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M197.323 84.9329C197.323 85.5277 197.237 85.8549 197.667 86.1989C198.117 86.5591 198.561 86.0937 198.561 85.6141C198.561 85.1052 198.415 84.8091 197.88 84.8091C197.221 84.8091 197.784 85.4883 198.066 85.676" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M199.502 98.8736C200.557 98.8736 201.639 98.9974 202.667 98.9974C203.139 98.9974 203.76 99.0956 204.208 98.9355C205.48 98.4814 205.987 97.7978 206.534 96.6443C206.733 96.2233 206.614 95.3204 206.678 94.8417C206.78 94.0757 206.514 93.3738 206.245 92.6812C205.922 91.8513 205.124 90.7241 204.332 90.3281" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M58.3159 87.2319C57.9231 87.6738 57.5109 88.5666 57.4558 89.1447C57.3744 89.9998 56.9326 90.8785 56.6508 91.6836C56.5221 92.0512 56.5272 92.5488 56.7746 92.867C57.0664 93.2421 57.6463 93.8876 58.0682 94.0986C58.8973 94.5132 59.79 95.4059 60.7928 95.4059C61.1415 95.4059 61.71 95.5211 62.0313 95.3783C62.1914 95.3072 62.8414 95.0343 62.4028 95.0343" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M64.3845 83.0209C64.5773 83.3637 65.4991 83.8496 65.4991 83.1448C65.4991 82.5949 65.0343 82.5722 64.6322 82.7732" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M67.7283 91.5665C67.7283 92.1143 69.0906 92.8975 69.0906 92.2477C69.0906 91.5423 68.1118 91.8382 67.8521 91.3188" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M63.6333 75.067C63.6333 75.48 63.7805 76.0354 63.7137 75.1993C63.6687 74.6374 63.4784 73.9035 63.7373 73.3657C64.3177 72.1603 64.9622 70.6987 66.1475 69.963C67.1126 69.364 68.139 69.1123 69.2667 69.1123C71.3115 69.1123 72.9673 69.8689 73.9075 71.7494C74.3908 72.716 74.4368 73.8862 74.4368 74.9441C74.4368 75.2681 74.3138 75.6307 74.1627 75.9177C74.0853 76.0649 73.9148 76.1111 73.8414 76.2579" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M81.072 89.358C81.7242 89.358 82.3763 89.358 83.0285 89.358C83.666 89.358 84.4186 89.2828 85.0229 89.5329C86.0066 89.94 87.0857 90.5943 87.7072 91.4847C88.4165 92.5007 88.4455 93.7434 88.1704 94.9441C87.849 96.3464 87.1553 97.2888 86.1571 98.2712C85.7485 98.6733 85.3295 99.0689 84.7488 99.1596C83.9861 99.2788 83.1672 99.3109 82.3953 99.3109C81.463 99.3109 80.8981 99.1531 80.1552 98.6303C79.8346 98.4047 79.3071 98.0772 79.1154 97.7418C79.0121 97.5611 78.7589 97.1761 78.605 97.0991" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M182.31 88.4836C180.514 88.4836 178.719 88.4836 176.923 88.4836C176.08 88.4836 175.544 88.9321 174.963 89.5136C173.514 90.9618 172.875 93.3275 173.727 95.2205C174.104 96.0578 174.446 97.4402 175.512 97.6771C176.445 97.8845 177.403 97.8221 178.358 97.8221C179.373 97.8221 180.853 97.5197 181.761 97.8221" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M189.863 75.3001C189.863 74.0305 189.542 72.7805 189.588 71.4854C189.625 70.4669 192.03 69.0956 192.831 68.7693C195.045 67.8671 198.75 67.0753 200.85 68.7082C202.341 69.8681 203.321 71.4052 203.321 73.3775C203.321 74.1377 203.439 74.9502 203.047 75.6358C202.889 75.9121 202.404 76.1737 202.223 76.5361" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M30.1977 137.714C22.7778 137.714 22.8725 126.929 24.0495 121.829C24.6909 119.049 24.6845 116.174 25.0497 113.356C25.5318 109.637 25.9076 105.944 26.4911 102.237C27.1729 97.9055 27.715 91.642 24.3731 88.2046C23.3795 87.1826 19.4054 84.0235 17.813 85.6159C17.2532 86.1758 16.7973 88.3256 18.019 88.4694C19.0859 88.5949 20.5614 90.7531 20.6665 91.6464C20.7145 92.0546 21.1115 92.9768 21.3284 93.3673C21.8311 94.2721 21.8436 95.672 22.1227 96.6768C22.723 98.838 22.255 101.718 22.255 103.958C22.255 105.232 21.9903 106.455 21.9903 107.738C21.9903 109.264 21.9825 111.185 21.7108 112.68C20.8464 117.434 20.7841 122.411 19.4751 127.124C18.3455 131.19 18.9604 136.333 21.5785 139.7C23.042 141.581 26.6244 142.017 28.6092 143.009" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M232.735 132.683C236.538 132.683 238.731 128.628 239.104 125.27C239.639 120.454 238.253 116.306 236.972 111.709C235.386 106.02 234.949 100.18 234.603 94.3085C234.324 89.5571 235.242 86.5311 238.237 82.9093C239.232 81.7049 240.362 80.99 241.619 80.0558C242.678 79.2698 244.953 79.4675 246.223 79.4675C247.78 79.4675 249.945 79.1286 249.945 81.3207C249.945 82.4076 250.843 84.2786 249.533 85.0273C248.193 85.793 246.009 85.2107 244.517 85.5421C240.366 86.4646 240.943 91.9476 240.943 95.088C240.943 97.7303 241.271 100.281 242.061 102.825C243.147 106.326 243.281 109.971 243.988 113.503C244.613 116.632 244.385 119.908 244.385 123.093C244.385 126.37 243.458 129.58 241.87 132.404C241.283 133.447 240.457 134.228 239.619 135.066C238.846 135.839 237.734 136.229 237.089 137.125C236.48 137.971 235.025 138.508 234.059 138.508" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M193.664 100.151C189.617 100.151 188.375 95.6897 188.375 92.3826C188.375 90.7334 190.203 88.581 191.938 88.581C193.353 88.581 194.456 89.5699 195.647 90.1971C195.781 90.2675 196.812 90.8974 196.208 90.7113C195.518 90.4993 194.435 89.6643 193.921 89.1503C192.769 87.9977 192.176 87.1302 192.176 85.4405C192.176 83.2057 194.117 81.624 195.905 80.6379C198.23 79.3548 201.276 78.7502 203.379 80.7757C204.392 81.7509 204.738 83.5904 204.738 84.9446C204.738 85.7372 204.614 85.6179 205.142 85.3119C206.488 84.5328 207.98 84.4488 209.495 84.4488C210.571 84.4488 211.483 84.4246 212.351 85.1191C213.65 86.1586 214.497 87.5948 214.885 89.2329C215.283 90.911 215.15 92.6394 214.986 94.3293C214.858 95.6533 213.155 97.2428 212.342 98.2044C210.635 100.222 209.06 102.632 206.878 104.182C204.942 105.558 202.285 106.27 200.129 107.24C198.173 108.12 196.718 108.082 195.152 106.597C194.504 105.984 193.995 104.265 193.995 103.374C193.995 102.587 194.091 101.288 193.664 100.647" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M52.8384 92.2174C52.8384 90.8101 52.3596 88.3986 53.4169 87.3414C54.9849 85.7734 55.8518 83.9529 58.3756 83.9529C59.027 83.9529 59.465 83.968 59.9458 84.4488C60.2328 84.7358 60.6704 85.8766 60.5978 85.4773C60.2319 83.4647 60.6156 81.9608 62.0211 80.5554C63.2562 79.3202 65.6923 77.9392 67.5583 78.7556C68.3627 79.1075 69.0133 79.1841 69.5325 79.9493C70.0879 80.7677 70.5243 81.5274 70.5243 82.5388C70.5243 83.6876 69.7629 84.283 69.2387 85.2753C68.9975 85.7317 68.7344 86.2188 68.3755 86.5976C68.1851 86.7985 67.7199 87.0016 68.2194 86.8455C69.3613 86.4887 70.5307 86.9925 71.5527 87.424C72.501 87.8244 72.8385 88.2389 73.426 88.9942C74.3338 90.1614 74.1826 92.4768 73.5362 93.705C73.1485 94.4415 71.8404 94.6632 71.1211 94.9446C70.3615 95.2419 69.6895 95.1926 68.8714 95.1926C68.4866 95.1926 67.6191 95.348 67.3011 95.1007C66.8866 94.7783 67.5491 96.2058 67.5491 96.6801C67.5491 97.7613 67.5805 98.6194 66.9797 99.5635C66.6368 100.102 65.3654 100.569 64.7759 100.812C63.3617 101.396 60.7521 101.46 59.4132 100.647C57.9454 99.7559 56.7292 98.6617 55.3545 97.6719C53.7645 96.5271 53.5962 94.2287 52.8384 92.7132" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M122.517 94.3567C122.517 94.9275 122.188 96.8926 122.89 97.2937C123.405 97.5885 124.064 97.5035 124.638 97.5035C125.024 97.5035 125.651 97.6169 125.978 97.3986" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M122.936 95.6155H125.768" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M122.726 94.042C122.853 93.7055 124.998 93.9371 125.454 93.9371" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M127.237 93.7273C127.237 94.8776 127.075 96.3454 127.633 97.3986C127.922 97.9453 129.535 97.7132 130.069 97.7132" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M134.16 94.2516C133.368 94.2516 132.442 94.1165 131.695 94.409C131.577 94.455 130.314 95.3482 130.861 95.5045C131.602 95.7163 132.629 95.4932 133.402 95.5104C133.878 95.5209 134.757 95.688 135.104 96.0348C136.686 97.6169 132.552 98.4135 131.642 97.5033" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M136.992 94.042V97.7133" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M137.307 96.1399C137.337 95.8941 137.794 95.7787 137.936 95.5921C138.132 95.3345 138.368 95.0807 138.618 94.8811C138.882 94.6694 139.361 94.3382 139.509 94.042" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M138.041 96.0349C139.235 96.0349 140.088 97.0061 141.083 97.5034" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M142.656 94.042C142.656 94.8724 142.356 96.6793 143.023 97.3461C143.408 97.7308 143.676 97.923 144.229 97.923C144.602 97.923 145.169 97.8155 145.488 98.0279" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M142.656 95.8254H144.859" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M143.181 94.042H145.383" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M148.006 98.4476C148.006 97.5829 148.049 96.727 147.848 95.8835C147.712 95.3132 147.553 94.7398 147.586 94.1469C147.667 92.6883 150.209 93.8439 150.628 94.4849C150.878 94.8681 150.772 95.5481 150.366 95.767C150.126 95.8961 149.742 96.035 149.468 96.035C149.282 96.035 149.129 96.0756 148.95 96.1166C148.828 96.1444 148.489 96.0518 148.577 96.1399C148.683 96.246 149.035 96.3561 149.183 96.4546C149.569 96.7119 150.02 96.887 150.418 97.1306C150.836 97.386 151.666 97.6912 151.887 98.1329" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M132.796 105.476C132.796 104.714 132.796 103.953 132.796 103.191C132.796 102.865 132.584 101.644 132.843 101.385C133.291 100.936 134.634 101.162 135.185 101.175C135.758 101.188 136.118 101.782 136.339 102.224C136.753 103.051 135.939 104.116 135.418 104.636C134.977 105.078 134.641 105.161 134.055 105.161C133.541 105.161 133.093 105.476 132.586 105.476" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M138.88 100.86V104.846" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M144.02 100.965C143.796 100.37 142.096 101.251 141.869 101.443C141.337 101.893 141.083 102.395 141.083 103.086C141.083 103.635 141.091 104.144 141.712 104.322C142.321 104.496 142.848 104.873 143.495 104.945C143.994 105 144.754 105.068 144.754 104.426C144.754 103.949 144.663 103.577 144.282 103.273C143.976 103.028 143.013 102.958 144.02 102.958C144.662 102.958 145.297 102.748 145.908 102.748" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M139.929 108.622V112.608" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
<path d="M139.929 114.811C139.929 114.068 139.09 114.372 139.09 115.021C139.09 115.528 139.929 115.347 139.929 114.916" stroke="#8CB6E3" stroke-width="1.5" stroke-linecap="round"/>
</svg>

</div>

<div class="px-6 pt-16">
<p class="font-bold">d. 31 Juli 2024</p>
<p>Første gang du skulle møde min 
familie - Til thai og is.  </p>
<Image
    src={thai}
    alt="Billeder"
	class="pt-2"
    loading="lazy"
        />
</div>

<div class="px-6 pt-16">
<p class="font-bold">d. 15 okt - 18 okt 2024</p>
<p>Efterårsferie på fyn med min 
familie og masser af kage. </p>
<Image
    src={kage}
    alt="Billeder"
	class="pt-2"
    loading="lazy"
        />
</div>

<div class="px-6 pt-16">
<p class="font-bold">d. 15 nov 2024</p>
<p>Halvårsdag - Scarpetta </p>
<Image
    src={scar}
    alt="Billeder"
	class="pt-2"
    loading="lazy"
        />
</div>

<div class="px-6 pt-16">
<p class="font-bold">d. 28 nov - 1 dec 2024</p>
<p>Milanoooooo - Første rejse. 
Forhåbentlig ikke den sidste.</p>
<Image
    src={milano}
    alt="Billeder"
	class="pt-2"
    loading="lazy"
        />
</div>

<div class="px-6 pt-16">
<p class="font-bold">d. 25 dec - 27 dec 2024</p>
<p>Første jul som kærester! Hygge i 
juledagene hos din familie. </p>
<Image
    src={jul}
    alt="Billeder"
	class="pt-2"
    loading="lazy"
        />
</div>

<div class="px-6 pt-16">
<p class="font-bold">d. 14 feb 2025</p>
<p>Første valentine som kærester.
Festligt, hyggeligt og beruset. </p>
<Image
    src={valen}
    alt="Billeder"
	class="pt-2"
    loading="lazy"
        />
</div>


<div class="px-6 pt-16">
<p class="font-bold">d. 15 maj 2025</p>
<p>Årsdag wuhu! Lækker mad, biograf 
og hygge.  </p>
<Image
    src={aars}
    alt="Billeder"
	class="pt-2"
    loading="lazy"
        />
</div>

<div class="px-6 pt-16">
<p class="pb-4 font-bold text-[20px]"> 
	Det var bare få glimt af de mange gode minder..

</p>
<p>Tak for at de mange dejlige stunder, dates og ture. Glæder mig til hvad fremtiden bringer!
</p>
</div>
</sektion>
		


		<div class="bg-farve-100 text-farve-200 font-titan text-center text-[50px] mt-32">
			<h2>ELSKER DIG ♡</h2>
		</div>
	</article>
</MainLayout>